<div class="container mt-5">
    <div class="row">
        <div class="">
            <div class="card">
                <div class="card-body text-center">
                    <span class="titulo"> Historial </span>
                    <form class="mt-3" [formGroup]="pacienteForm">
                        <div class="container">
                            <div class="row align-items-start">
                        <div class="col mb-3" id="datosPersonales">
                            <h5>DATOS PERSONALES</h5>
                            <span>NHC:</span>
                            <input formControlName="nhc" class="form-control form-control-lg">
                            <div *ngIf="pacienteForm.get('nhc')"> </div>
                            <span>Código:</span>
                            <input type="text" formControlName="codigo" class="form-control form-control-lg">
                            <div  *ngIf="pacienteForm.get('codigo')"> </div>
                            <span>Apellido Paterno:</span>
                            <input type="text" formControlName="apellidoPaterno" class="form-control form-control-lg">
                            <div *ngIf="pacienteForm.get('apellidoPaterno')"></div>
                            <span>Apellido Materno:</span>
                            <input type="text" formControlName="apellidoMaterno" class="form-control form-control-lg">
                            <div *ngIf="pacienteForm.get('apellidoMaterno')"> </div>
                            <span>Nombres:</span>
                            <input type="text" formControlName="nombres" class="form-control form-control-lg">
                            <div *ngIf="pacienteForm.get('nombres')"> </div>
                            <span>Edad:</span>
                            <input type="number" formControlName="edad" class="form-control form-control-lg">
                            <div *ngIf="pacienteForm.get('edad')">                            </div>
                            <span>Sexo:</span>
                            <input type="string" formControlName="sexo" class="form-control form-control-lg">
                            <div *ngIf="pacienteForm.get('sexo')">
                            </div>
                            <span>Lugar de Nacimiento:</span>
                            <input type="text" formControlName="lugarNacimiento" class="form-control form-control-lg" placeholder="Lugar de Nacimiento">
                            <div *ngIf="pacienteForm.get('lugarNacimiento')"> </div>
                            <span>Fecha de Nacimiento:</span>
                            <input type="date" formControlName="fechaNacimiento" class="form-control form-control-lg" placeholder="Fecha de Nacimiento">
                            <div *ngIf="pacienteForm.get('fechaNacimiento')"> </div>
                            <span>Ocupación:</span>
                            <input type="text" formControlName="ocupacion" class="form-control form-control-lg" placeholder="Ocupación">
                            <div *ngIf="pacienteForm.get('ocupacion')"> </div>
                            <span>Dirección:</span>
                            <input type="text" formControlName="direccion" class="form-control form-control-lg" placeholder="Dirección">
                            <div *ngIf="pacienteForm.get('direccion')"> </div>
                            <span>Celular:</span>
                            <input type="text" formControlName="celular" class="form-control form-control-lg" placeholder="Celular">
                            <div *ngIf="pacienteForm.get('celular')"> </div>


                        </div>

                        <div class="col mb-3" id="antecedentes">
                            <h5>ANTECEDENTES</h5>
                            <span>Antecedentes Patológico Familiares:</span>
                            <input type="text" formControlName="antecedentesPatologicosFamiliares" class="form-control form-control-lg" placeholder="Antecedentes Patológico Familiares">
                            <div *ngIf="pacienteForm.get('celular')"> </div>
                            <span>Antecedentes Patológico Personales:</span>
                            <input type="string" formControlName="antecedentesPatologicosPersonales" class="form-control form-control-lg" placeholder="Antecedentes Patológico Personales">
                            <div *ngIf="pacienteForm.get('antecedentesPatologicosPersonales')">
                            </div>
                        </div>

                        <div class="col mb-3" id="examenes">
                            <h5>EXAMEN EXTRA ORAL</h5>
                            <span>ATM:</span>
                            <input type="text" formControlName="atm" class="form-control form-control-lg" placeholder="ATM">
                            <div *ngIf="pacienteForm.get('atm')"> </div>
                            <span>Ganglios Linfáticos:</span>
                            <input type="text" formControlName="ganglioslinfaticos" class="form-control form-control-lg" placeholder="Ganglios Linfáticos">
                            <div *ngIf="pacienteForm.get('ganglioslinfaticos')"> </div>
                            <span>Respirador:</span>
                            <input type="string" formControlName="respirador" class="form-control form-control-lg">
                            <div *ngIf="pacienteForm.get('respirador')">
                            </div>
                            <span>Otros:</span>
                            <input type="text" formControlName="otrosExamenExtraOral" class="form-control form-control-lg" placeholder="Otros">
                            <div *ngIf="pacienteForm.get('otrosExamenExtraOral')"> </div>
                            <h5>EXAMEN INTRA ORAL</h5>
                            <span>Labios:</span>
                            <input type="text" formControlName="labios" class="form-control form-control-lg" placeholder="Labios">
                            <div *ngIf="pacienteForm.get('labios')"> </div>
                            <span>Lengua:</span>
                            <input type="text" formControlName="lengua" class="form-control form-control-lg" placeholder="Lengua">
                            <div *ngIf="pacienteForm.get('lengua')"> </div>
                            <span>Paladar:</span>
                            <input type="text" formControlName="paladar" class="form-control form-control-lg" placeholder="Paladar">
                            <div *ngIf="pacienteForm.get('paladar')"> </div>
                            <span>Piso de la boca:</span>
                            <input type="text" formControlName="pisoDeLaBoca" class="form-control form-control-lg" placeholder="Piso de la boca">
                            <div *ngIf="pacienteForm.get('pisoDeLaBoca')"> </div>
                            <span>Mucosa Yugal:</span>
                            <input type="text" formControlName="mucosaYugal" class="form-control form-control-lg" placeholder="Mucosa Yugal">
                            <div *ngIf="pacienteForm.get('mucosaYugal')"> </div>
                            <span>Encias:</span>
                            <input type="text" formControlName="encias" class="form-control form-control-lg" placeholder="Encias">
                            <div *ngIf="pacienteForm.get('encias')"> </div>
                            <span>Fecha última visita:</span>
                            <input type="date" formControlName="fechaUltimaVisita" class="form-control form-control-lg" placeholder="Fecha última visita">
                            <div *ngIf="pacienteForm.get('fechaUltimaVisita')"> </div>
                            <span>Hábitos:</span>
                            <input type="text" formControlName="habitos" class="form-control form-control-lg" placeholder="Hábitos">
                            <div *ngIf="pacienteForm.get('habitos')"> </div>
                            <span>Prótesis:</span>
                            <input type="string" formControlName="protesis" class="form-control form-control-lg">
                            <div *ngIf="pacienteForm.get('protesis')"> </div>
                          
                        </div>
                        <div class="col mb-3" id="observaciones">
                            <h5>ANTECEDENTES BUCODENTALES</h5>
                            <span>Cepillo:</span>
                            <input type="string" formControlName="cepillo" class="form-control form-control-lg">
                            <div *ngIf="pacienteForm.get('cepillo')">
                            </div>
                            <span>Hilo:</span>
                            <input type="string" formControlName="hilo" class="form-control form-control-lg">
                            <div *ngIf="pacienteForm.get('hilo')">
                            </div>
                            <span>Enjuague:</span>
                            <input type="string" formControlName="enjuague" class="form-control form-control-lg">
                            <div *ngIf="pacienteForm.get('enjuague')">
                            </div>
                            <span>Frecuencia del cepillado:</span>
                            <input type="text" formControlName="frecuenciaCepillado" class="form-control form-control-lg" placeholder="Frecuencia del cepillado">
                            <div *ngIf="pacienteForm.get('frecuenciaCepillado')"> </div>
                            <span>Durante el cepillado dental sangran las encías:</span>
                            <input type="string" formControlName="sangreEncias" class="form-control form-control-lg">
                            <div *ngIf="pacienteForm.get('sangreEncias')">
                            </div>
                            <span>Higiene Dental:</span>
                            <input type="string" formControlName="higieneDental" class="form-control form-control-lg">
                            <div *ngIf="pacienteForm.get('higieneDental')">
                            </div>
                            <span>Ha tenido algún problema grave en algún tratamiento anterior:</span>
                            <input type="text" formControlName="problemaTratamiento" class="form-control form-control-lg">
                            <div *ngIf="pacienteForm.get('problemaTratamiento')"> </div>

                            <h5>OBSERVACIONES</h5>
                            <input type="text" formControlName="observaciones" class="form-control form-control-lg" placeholder="Observaciones">
                            <div *ngIf="pacienteForm.get('observaciones')"> </div>

                            <h5>MOTIVO DE LA CONSULTA</h5>
                            <input type="text" formControlName="motivoConsulta" class="form-control form-control-lg" placeholder="Motivo de la consulta">
                            <div *ngIf="pacienteForm.get('motivoConsulta')"> </div>

                            <h5>EXAMEN CLÍNICO</h5>
                            <input type="text" formControlName="examenClinico" class="form-control form-control-lg" placeholder="Examen Clínico">
                            <div *ngIf="pacienteForm.get('examenClinico')"> </div>

                            <h5>DIAGNÓSTICO</h5>
                            <input type="text" formControlName="diagnostico" class="form-control form-control-lg" placeholder="Diagnóstico">
                            <div *ngIf="pacienteForm.get('diagnostico')"> </div>
                        </div>
                    </div></div>
                        <div class="mb-3">
                            <button routerLink="/listaPacientes" class="btn btn-success btn-lg float-end">ACEPTAR</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>