.fas {
    cursor: pointer;
    margin-left: 10px;
}

.header-right {
    float: right;
    margin-right: 80px;
    margin-top: 40px;
  }

  #u-logo{
    margin-left: 140px;
  }

  .icono{
    margin-top: 190px;
  }